{erl_opts, [debug_info]}.
{deps, [{aeserialization, {git, "https://github.com/aeternity/aeserialization.git", {ref,"eb68fe3"}}},
        {enacl, {git, "https://github.com/aeternity/enacl.git", {ref, "38ffc76"}}},
        {ec_utils, {git, "https://github.com/hanssv/ec_utils.git", {ref, "3cee729"}}}
  ]}.
